<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My website</title>
    <style>
        p {
            color: pink;
            text-decoration: underline;
            font-size: 45px;
        }
    </style>
</head>
<body>
<a href="/witaj">Hello</a><br/>

<!--
<form action="", method=""></form>
-->
<form action = "/formularz" method="post">
    <input type="text" name="name"/>
    <input type="text" name="age"/>
    <input type="submit" value="Wyślij">
</form>
<center>
    <p>
        <b>Hello {{t_name}}, masz {{t_age}} lat!</b>
    </p>
    </center>
</body>
</html>